AIMS_APP_ENV=production
AIMS_SHARED_SECRET=change-me
AIMS_ARCHIVE_SECRET=change-me
AIMS_ENCRYPTION_KEY=change-me
AIMS_SINK_PATH=
AIMS_VAULT_PATH=
AIMS_CONFIG_PATH=
AIMS_LOG_PATH=
AIMS_SQLITE_PATH=
AIMS_WOO_URL=
AIMS_SQUARE_URL=https://connect.squareup.com
AIMS_SQUARE_LOCATION_ID=
AIMS_SQUARE_VERSION=2026-01-22
